 <div class="user-details">
  <h1> Background </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Kelly Gola, PhD</h2>
      <img alt="mountains" style="width:66%;height:50%" src="{{ "/assets/img/me.jpg" | prepend: site.baseurl }}" />
      <!--<i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>-->
      <p>PhD in Psychology. Some topics I've studied include the neuroscience of storytelling, psychiatry, empathy, and decision making. I use machine learning to answer basic questions about human behavior and psychology. 
        </p>
    </div>
    <div class="tech">
      <h2>Bruce Willis</h2>
      <img alt="mountains" style="width:48%;height:50%" src="{{ "/assets/img/bw.jpg" | prepend: site.baseurl }}" />
      <!--<i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>-->
      <p> Collaborator, visionary. Passionate about laser technology and looking for her next big venture. 
        </p>
    </div>
</div>
