<div class="user-details">
  <h1> Featured Writing and Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/brain_painting.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Deconstructing Psychiatry </h3>
    <ul>
      <li> Psychiatry, Neuroscience </li>
    </ul>
    <p>Some thoughts on the current state of mental health research.</p>
    <a class="project-link" href="https://medium.com/@kellygola/the-empty-throne-of-mental-illness-236e0377fb64">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/hot.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Professor Ratings </h3>
    <ul>
      <li> NLP, Selenium, BeautifulSoup, Pandas </li>
    </ul>
    <p>  </p>
    <a class="project-link" href="https://techburst.io/a-machine-learning-approach-to-understanding-teacher-evaluations-94014485f055">Check it out</a>
  </div>
</div>
